@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #2e2e2e;
}

header {
  background-image: url(./../img/oguzhan-edman-mDtbe0A227E-unsplash.jpg);
  background-size: cover;
  position: relative;
  height: 40vh;
  background-position-y: -6vh;
}

@media (min-width: 576px) {
  header {
    height: 400px;
    background-position-y: 20%;
  }
}

@media (min-width: 768px) {
  header {
    position: fixed;
    width: 50vw;
    height: 100vh;
  }
}

header #logo {
  top: 20%;
  position: relative;
  background-color: rgba(48, 48, 48, 0.5);
  padding: 10px;
}

header #logo img {
  width: 100%;
}

header .credit {
  position: absolute;
  bottom: 5px;
  color: white;
  background-color: rgba(204, 204, 204, 0.705);
  border: 1px solid #cecece;
  display: block;
  width: 70%;
  padding: 4px;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  border-radius: 5px;
  font-size: 0.8rem;
  color: #3e3e3e;
}

header .credit a {
  color: #5100d3;
}

@media (min-width: 768px) {
  body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "header form";
    height: 100vh;
  }
}

main {
  margin: 10px;
  grid-area: form;
}

main .signup .disclaimer, main .login .disclaimer {
  width: 90%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: calc(1rem + 0.3vw);
}

main .signup .form, main .login .form {
  width: 100%;
  text-align: center;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

main .signup .form h1, main .login .form h1 {
  padding-top: 8px;
}

main .signup .form p, main .login .form p, main .signup .form .optional, main .login .form .optional {
  font-size: 0.9rem;
  color: #3f3f3f;
  font-style: italic;
}

main .signup .form .required, main .login .form .required {
  color: red;
}

main .signup .form form, main .login .form form {
  margin: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (min-width: 1400px) {
  main .signup .form form, main .login .form form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

main .signup .form form .input, main .login .form form .input {
  position: relative;
  font-size: 1.2rem;
  text-align: left;
  margin: 15px 0;
  width: 100%;
}

main .signup .form form .input input, main .login .form form .input input, main .signup .form form .input button, main .login .form form .input button {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-left: 6px;
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid #c7c7c7;
}

main .signup .form form .input input + label, main .login .form form .input input + label, main .signup .form form .input button + label, main .login .form form .input button + label {
  position: absolute;
  text-transform: uppercase;
  left: 6px;
  top: 15px;
  opacity: 0.5;
  cursor: text;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .signup .form form .input input:focus + label, main .login .form form .input input:focus + label, main .signup .form form .input button:focus + label, main .login .form form .input button:focus + label, main .signup .form form .input input:not(:placeholder-shown) + label, main .login .form form .input input:not(:placeholder-shown) + label, main .signup .form form .input button:not(:placeholder-shown) + label, main .login .form form .input button:not(:placeholder-shown) + label {
  color: #5100d3;
  opacity: 1;
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  font-size: 0.8rem;
}

main .signup .form form .input input:focus + label span, main .login .form form .input input:focus + label span, main .signup .form form .input button:focus + label span, main .login .form form .input button:focus + label span, main .signup .form form .input input:not(:placeholder-shown) + label span, main .login .form form .input input:not(:placeholder-shown) + label span, main .signup .form form .input button:not(:placeholder-shown) + label span, main .login .form form .input button:not(:placeholder-shown) + label span {
  font-size: 0.8em;
}

main .signup .form form .input::after, main .login .form form .input::after, main .signup .form form .input button::before, main .login .form form .input button::before {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #5100d3;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .signup .form form .input:focus-within::after, main .login .form form .input:focus-within::after {
  width: 100%;
}

@media (min-width: 1400px) {
  main .signup .form form .input:focus-within::after, main .login .form form .input:focus-within::after {
    width: 45%;
  }
}

main .signup .form form .input:focus-within:not(.input-phone)::after, main .login .form form .input:focus-within:not(.input-phone)::after {
  width: 100%;
}

main .signup .form form .input button, main .login .form form .input button {
  margin-top: 8px;
  border: none;
  padding-left: 0;
  padding-bottom: 7px;
  cursor: pointer;
  background-color: #c7c7c7;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main .signup .form form .input button::before, main .login .form form .input button::before {
  height: 4px;
  width: 100%;
}

main .signup .form form .input button:hover, main .login .form form .input button:hover {
  background-color: #c7c7c7;
  color: white;
}

main .signup .form form .input button:hover::before, main .login .form form .input button:hover::before {
  height: 100%;
  color: white;
  z-index: -1;
}

main .signup .form form .input .error, main .login .form form .input .error {
  border-bottom: 2px solid red;
}

main .signup .form form .input .error + label, main .login .form form .input .error + label {
  color: red;
}

main .signup .form form .error_msg, main .login .form form .error_msg {
  position: relative;
  font-size: 0.9rem;
  padding: 4px;
  border-radius: 0 0 5px 5px;
  right: 0;
  display: inline-block;
  height: 0;
}

main .signup .form form .error_msg.valid::before, main .login .form form .error_msg.valid::before {
  content: "✔ ";
  color: green;
}

main .signup .form form .error_msg.invalid::before, main .login .form form .error_msg.invalid::before {
  content: "✗ ";
  color: red;
}

@media (min-width: 1400px) {
  main .signup .form form .input:not(.input-submit):not(.input-phone), main .login .form form .input:not(.input-submit):not(.input-phone) {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

main .signup .form form .input-submit > p, main .login .form form .input-submit > p, main .signup .form form .input-submit > .optional, main .login .form form .input-submit > .optional {
  text-align: center;
}

@media (min-width: 1400px) {
  main .signup .form form .input-phone > input, main .login .form form .input-phone > input, main .signup .form form .input .input-phone > button, main .login .form form .input .input-phone > button {
    width: 45%;
  }
}

main .signup .form form a, main .login .form form a {
  color: #5100d3;
}

@media (min-width: 1400px) {
  main .signup, main .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}
/*# sourceMappingURL=script.css.map */