@import "initials";
@import "variables";
@import "media_query";
@import "header";
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');

body{
    @include for_breakpoint("medium"){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: ". main";
        height: 100vh;
    }

    main{
        margin: 10px;
        @import "signup";
        @import "login";
        overflow-x: hidden;
        grid-area: main;

        // @include for_breakpoint("medium"){
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "form";
        // }

        .login{
            // transform: translateY(-100%);
            // z-index: ;
        }
        .translateX100{
            transform: translateX(100%);
        }

        .translateX-100{
            transform: translateX(-100%);
        }

    }
}



// perspective: 30vw;
// transform: rotateY(-30deg);